body {
	font-family: 'Exo' !important;
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/c5/fb/87/c5fb87e7ba7d046fcb05a7d766eec2f0.jpg');
	background-size: cover;
}

.navbar {
	border-radius: 0 !important;
}

.navbar-brand {
	font-family: 'Satisfy', cursive;
}